@page
@model IndexModel
@{
    ViewData["Title"] = "Berg: Home";
}

<div class="container d-flex justify-content-center main-content">
    <div class="align-self-center text-center">
        <h3 class="mb-2">Welcome to Berg</h3>
        <h5 class="text-muted mb-3">An Online Shopping Website</h5>
        <h6>Search for an item, or browse items by category</h6>
        <footer class="footer mb-auto py-3">
            <a class="github-button" href="https://github.com/r-vu/Berg" data-color-scheme="no-preference: dark; light: dark; dark: dark;"
               data-size="large" aria-label="Source Code &amp; Documentation at r-vu/Berg on GitHub">
                Source Code &amp; Documentation
            </a>
        </footer>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="/css/Index.css" />
}

@section Scripts {
    <script async defer src="https://buttons.github.io/buttons.js"></script>
}
