@page
@model Berg.Pages.SearchModel
@{
}

<div class="container">
    @for (int idxRow = 0; idxRow < 3; idxRow++) {
        <div class="row">
        @for (int idxCol = 0; idxCol < 3; idxCol++) {
            int idx = idxRow * 3 + idxCol;
            if (Model.ItemList.Count < idx + 1) {
                break;
            } else {
                <div class="col">@Model.ItemList[idx].Name</div>
            }
        }
        </div>
    }
</div>
